.main {
    display: flex;
    flex-wrap: wrap;
}

.homePage {
    height: 92vh;
    color: white;
    font-size: xx-large;
    overflow-x: hidden;
    overflow-y: scroll;
}

#cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: green;
    padding-left: 5px;
    padding-right: 5px;
}

.title {
    width: 100%;
    padding-left: 5px;
}

.travis {
    display: flex;
}

.review {
    display: flex;
}