.main {
    display: flex;
    flex-wrap: wrap;
}

.homePage {
    height: 92vh;
    color: white;
    font-size: xx-large;
    overflow-x: hidden;
    overflow-y: scroll;
}

.greenCircle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: green;
    padding-left: 5px;
    padding-right: 5px;
}

.redCircle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: red;
    padding-left: 5px;
    padding-right: 5px;
}

.travis {
    display: flex;
    margin-bottom: 10px;
}

.review {
    display: flex;
    margin-bottom: 10px;
}